<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style> 
    
         body{
             background-color: bisque;
         }

        h1{
            color: cadetblue;
            font-size: 50-px;
            text-align: center;
            margin-top: 50-vh


        }

    
    </style>
        

</head>
<body>
    <header>
        <section class="main-header-top-bar">
            <a href="/" class="fotonoticia_20150724115242_1200">
             <img src="/fotonoticia_20150724115242_1200.jpg" alt="Foto familia">


            </a>

            <h1>Bienvenidos a usuarios de Familia Brim</h1>
        </section>
        
    </header>
    
</body>
</html>